/* 网页的顶部 */
#mallpage{
    width: 100%;
}
#mall-header{
    width: 100%;
    height: 32px;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;
}
#page-top{
    height: 32px;
}
.madia-area{
    width: 1260px;
    background: rgba(207, 63, 63, 0.5);
    margin: 0 auto;
}
.page-top{
    width: 100%;
    height: 100%;
}
.page-top>p{
    width: 218px;
    height: 100%;
    background: rgb(176, 224, 81);
    float: left;  
}
.page-top>p>em{
    float: left;
}
.page-top>p>a{
    float: left;
    
}
.page-top-first{
    padding-left: 20px;
    padding-right: 10px;
}
.page-top-last{
    padding-left: 10px;
    padding-right: 10px;
}
.page-top>ul{
    height: 100%;
    width: 417px;
    background: yellowgreen;
    float: right;
}
.page-top>ul>li{
    float: left;
    padding-right: 14px;
    padding-left: 14px;
}
.page-top-triangle{
    position: relative;
}
.page-top-triangle>a>em{
    width: 0;
    height: 0;
    border:3px solid #bbb;
    border-color:#bbb transparent transparent transparent;
    position: absolute;
    right: 6px ;
    top:50%;
}
.page-top-font{
    font-size: 12px;
    color:#999;
    line-height: 32px;
}


/* 网页的头部 */
#header{
    width: 100%;
    height: 130px;
    background: rgb(143, 97, 97);
}
.header{
    height: 100%;
    position: relative;
}

.header>form{
    float: right;
    margin-right: 280px;
    margin-top: 38px;
    width:625px;
    height:40px;
    border:2px solid #FF0036;
}
.header>form>input{
    float: left;
    height: 100%;
    width: 491px;
    border:none;
    padding:5px 3px 5px 5px;
    border-radius: 2px;
    outline: 0;
}
.header>form>button{
    float: left;
    height: 100%;
    width: 130px;
    border:none;
    background: #FF0036;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}



/* 主体内容 */
#content{
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    width: 100%;
}
/* 主导航 */
#main-nav{
    width: 100%;
    height: 35px;
}
.main-nav{
    height: 35px;
}
.main-nav>ul{
    width: 1030px;
    float: left;
    background: red;
    height: 100%;
    margin-left: 200px;
}
.main-nav>ul .main-nav-pic img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
}
.main-nav>ul>li{
    float: left;
    padding: 0 8px;
}
.main-nav>ul>li>a{
    font-weight: 500;
    font-size: 16px;
    display: block;
    color: #333;
    line-height: 35px;
}


/* banner部分 */
#banner{
    position: relative;
    height: 500px;
    width: 100%;
}
#banner-nav{
    width: 1230px;
    padding-right: 30px;
    position: relative;
    height: 0;
    z-index: 100;
    margin: 0 auto;
}
.banner-logo{
    height: 130px;
    width: 290px;
    position: absolute;
    z-index: 100000;
    margin-top: -167px;
    margin-left: -45px;
}
.banner-kind{
    width: 200px;
    float: left;
    height: 36px;
    color: #fff;
    background-color: #FF0036;
    position: absolute;
    z-index: 100;
    margin-top: -36px;
    line-height: 36px;
}
.banner-logo>img{
    margin: 1px auto;
    display: block;
    width: 240px;
    height: 130px;
}
.banner-kind>p{
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
}
.banner-kind>i{
    display: inline-block;
    font-size: 16px;
    margin-left: 14px;
    font-weight: 700;
}
.normal-nav{
    width: 200px;
    height: 0;
}
.normal-nav>ul{
    background-color: rgba(0,0,0,.55);
    width: 200px;
    height: 500px;
    position: relative;
    z-index: 11;
}
.normal-nav>ul>li{
    position: relative;
    height: 31.2px;
    line-height: 31.2px;
    color: #fff;
    font-size: 14px;
}
.normal-nav>ul>li>i{
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
}
.normal-nav>ul>li>a{
    height: 31px;
    color: #fff;
    font-size: 14px;
}

/* hover显示导航 */、
.banner-display{
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.pannel-con{
    display: none;
    height: 500px;
    width: 852px;
    left: 200px;
    position: absolute;
    background-color: rgb(112, 61, 61);
    /* background: white; */
}
.hot-word-con{
    width: 583px;
    height: 462px;
    margin: 19px 30px;
    overflow: hidden;
    background-color: #fff;
    float: left;
   
}
.line-title{
    width: 60px;
    color: #333;
    margin-right: 30px;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    height: 22px;
    float: left;
}
.line-title>i{
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
}
.line-con{
    width: 493px;
    float: left;
}
.hot-word{
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #666;
    float: left;
    margin-left: 13px;
}
.title-text{
    display: inline-block;
    width: 60px;
    overflow: hidden;
    text-align: justify;
}
.seprate{
    margin-bottom: 10.5px;
    border-bottom:1px dashed rgba(0,0,0,.1);
    clear: both;
    height: 10.5px;
}
.sub-logo-con{
    float: left;
    background-color: #FAFAFA;
    width: 189px;
    padding: 10px;
    height: 480px;
}

/* 轮播图 */
.main-banner{
    height: 500px;
    width: 100%;
}
.main-banner>div{
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 1260px;
    height: 500px;
    overflow: hidden;
    background: green;
    margin: 0 auto;
}
.main-banner-content{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

/* 页面内容 */
#html-content{
    width: 100%;
}


/* 品牌选择 */
.brand-kind{
    margin: auto;
    padding-top: 24px;
    width: 1260px;
    background: rebeccapurple;
    overflow: hidden;
}
.brand-kind .brand-item-first{
    width: 234px;
}
.brand-item{
    float: left;
    display: block;
    height: 370px;
    width: 485px;
    margin-right: 13px;
    background-color: rgb(165, 96, 96);
}
.brand-item h4{
    height: 54px;
    background: #fff;
    font-size: 0;
    border-style: solid;
    border-width: 0 0 1px;
    position: relative;
}
.brand-kind .brand-cn{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
}
.brand-kind .brand-en{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
    line-height: 24px;
    height: 44px;
}
.brand-kind .brand-more{
    position: absolute;
    right: 14px;
    top: 0;
    width: 42px;
    height: 54px;
    line-height: 54px;
    z-index: 99;
    background-size: 18px 18px;
    background-image: url(//img.alicdn.com/tfs/TB1B7RoaMMPMeJjy1XcXXXpppXa-36-36.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 14px;
    font-size: 16px;
    color: #666;
    overflow: hidden;
}
.brand-item-first .brand-more{
    text-indent: -99px;
}
.brand-kind .brand-body{
    height: 316px;
    background: rgb(176, 224, 81);
    display: block;
}

/* 品牌合作 */
.partner-brand{
    margin: 15px auto 0;
    width: 1260px;
    position: relative;
}
.partner-brand>div{
    height: 327px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    margin-right: -1px;
    width: 100%;
    position: relative;
    background: seagreen;
}
.partner-list{
    margin-right: -2px;
    overflow: hidden;
}
.partner-list>li{
    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    position: relative;
    background: rosybrown;
    text-align: center;
}
.partner-list>li>div{
    background-color: white;
    margin: 0 auto;
    text-align: center;
    line-height: 108px;
}
.partner-list>li>div>img{
    width: 82%;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
}
.partner-brand .brand-mask{
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    text-align: center;
}
.partner-list>li span{
    display: block;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    line-height: 90px;
    height: 60px;
}
.partner-list>li em{
    display: inline-block;
    color: #fff;
    width: 63px;
    text-align: center;
    height: 32px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    background-color: #FF0036;
    border-radius: 9px;
}
.partner-list>li:hover .brand-mask{
    opacity: 1;
    transition: all .3s ease-out;
}
/* 楼层跳跃内容部分*/   

#mall{
    margin: auto;
    margin-top: 20px;
    width: 1260px;
    height: 665px;
    position: relative;
    background: skyblue;
}
#mall h2{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #000;
    height: 28px;
}
#mall h2>img{
    vertical-align: middle;
    width: 214px;
    height: 25px;
}
#mall>div{
    width: 100%;
    height: 618px;
    margin-top: 10px;
    overflow: hidden;
    
}
.right{
    float: left;
    position: relative;
    width: 235px;
    height: 618px;
    background: tan;
}
.left{
    width: 995px;
    height: 618px;
    float: left;
    overflow: hidden;
    background: turquoise;
}
.grid{
    float: left;
    display: block;
    border-bottom: 15px solid #f5f5f5;
    position: relative;
    background-color: #fff;
}
.one-grid{
    width: 235px;
    height: 301px;
    margin-left: 13px;
    text-align: center;
    background: yellowgreen;
}
.two-grid{
    width: 484px;
    height: 301px;
    margin-left: 13px;
    background: #999;
}
.mall-name-cn{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 28px;
    font-size: 18px;
    color: #000;
}
.mall-name-en{
    float: left;    
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 28px;
    height: 18px;
}
.color-mark{
    display: inline-block;
    background-color: #333;
    width: 5px;
    height: 18px;
    vertical-align: middle;
}


/* 中间广告 */
#banner-full{
    width: 1260px;
    height: 90px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}
#banner-full img{
    display: block;
    width: 1620px;
    height: 90px;
    margin-left: -165px;
}


/* 猜你喜欢 */
#wonderful{
    width: 1260px;
    margin: 30px auto 0;
    height: 3085px;
    background: paleturquoise;
}
.wonderful-list{
    height: 333px;
    background: peachpuff;
    margin-bottom: 7px;
}
.wonderful-list li{
    float: left;
    width: 235px;
    margin-right: 12px;
    margin-bottom: 7px;
    height: 100%;
}
.wonderful-list li a{
    display: block;
    border: 2px solid #fff;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    margin-right: 7px;
    margin-bottom: 7px;
    width: 100%;
    height: 315px;
}
.item-pic{
    display: block;
    width: 185px;
    height: 185px;
    background: green;
    overflow: hidden;
    margin: 20px auto 0;
}
.item-pic>img{
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    
}
.item-info{
    display: block;
    padding: 14px 12px 8px;
    text-align: center;
}
.item-desc{
    margin: 8px auto;
    display: block;
    width: 135px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    background: hotpink;
}
.item-desc>em{
    font-size: 14px;
    line-height: 18px;
    color: #666;
}
.item-detail{
    position: relative;
    display: block;
    height: 33px;
    line-height: 22px;
    margin-top: 2px;
}
.item-detail>i,.item-detail>span,.item-detail>em{
    line-height: 32px;
    color: #ff0036;
    font-size: 18px;
}

/* 网页的底部 */
#footer{
    min-height: 558px;
    border-top: 1px solid #D1D7DC;
    clear: both;
    margin: 0;
    text-align: center;
    background: #fff;
    position: relative;
    font-size: 12px;
    font-family: tmall;
}
#tmall-ensure{
    width: 1190px;
    height: 100px;
    background: url(./../images/tmall-ensure.jpg) no-repeat;
    margin: 25px auto;
    padding: 0;
}
#tmall-ensure a{
    float: left;
    display: block;
    width: 297px;
    height: 100px;
    text-indent: -1000em;
}
#tmall-desc{
    width: 1190px;
    padding-top: 22px;
    height: 190px;
    margin: auto;
    border-top: 1px solid #ededed;
    background: url(./../images/tmall-desc.jpg) 45px bottom no-repeat;
}
#tmall-desc dl{
    float: left;
    width: 186px;
    padding-left: 52px;
}
#tmall-desc dl dt {
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
#tmall-desc dl dd {
    text-align: left;
}
#tmall-desc dl a {
    width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    display: block;
}
#tmall-desc #mobile a {
    width: 105px;
    height: 105px;
    line-height: 105px;
    text-align: center;
}
#tmall-copyright{
    border-top: 2px solid #FF0036;
    background: #000;
    text-align: left;
    min-height: 177px;  
}
#tmall-copyright .footer-otherlink, #tmall-copyright .footer-tmallinfo {
    color: #fff;
    line-height: 25px;
    width: 1190px;
    margin: 0 auto;
    padding: 5px 0;
}
#footer p a {
    margin-right: 3px;
    color: #fff;
}
#tmall-copyright .footer-copyright {
    line-height: 20px;
    background: #000;
    color: #a4a4a4;
    width: 1190px;
    margin: 0 auto;
}
#tmall-copyright .footer-copyright a {
    color: #a4a4a4;
    margin-right: 65px;
}
#tmall-copyright .footer-copyright b {
    display: block;
    color: #686868;
    font-weight: 400;
}


/* 楼层跳跃部分 */
.mui-lift {
    position: fixed;
    bottom: 50px;
    left: 50%;
    z-index: 9999;
    width: 35px;
    text-align: center;
    margin-left: -673px!important;
}
.mui-lift .mui-lift-nav {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1px;
    background-color: #666;
    background-color: rgba(0,0,0,.6);
    overflow: hidden;
    font-size: 12px;
}
.mui-lift .mui-lift-nav .mui-lift-nav-name{
    line-height: 12px;
    width: 24px;
    height: 28px;
    margin: 6px auto;
}
.mui-lift .mui-lift-nav.nav-back i{
    font-size: 18px;
    margin-top: 5px;
    display: block;
}
.mui-lift .mui-lift-nav{
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.mui-lift .mui-lift-nav.nav-header{
    background-color: #ff0036;
}
.mui-lift .mui-lift-nav.nav-back {
    line-height: 13px;
    background-color: rgba(0,0,0,.3);
}